.main-layout {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-areas:
    "head"
    "body";
  grid-template-columns: auto;
  grid-template-rows: min-content min-content;
  align-items: center;
  padding: 0 2rem;
}

.main-layout__head {
  grid-area: head;
}

.main-layout__body {
  grid-area: body;
}

@media only screen and (min-width: 376px) {
  .main-layout{
    grid-template-areas:
      ". head body .";
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto;
  }
}

.f-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
